<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>I feel</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<real>87</real>
			<key>green</key>
			<real>192</real>
			<key>blue</key>
			<real>255</real>
		</dict>
		<key>interactions</key>
		<array>
			<string>happy</string>
			<string>sad</string>
			<string>angry</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>I need</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>255</integer>
			<key>green</key>
			<integer>255</integer>
			<key>blue</key>
			<integer>83</integer>
		</dict>
		<key>interactions</key>
		<array>
			<string>drink</string>
			<string>eat</string>
			<string>bathroom</string>
			<string>break</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>I want to</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>253</integer>
			<key>green</key>
			<integer>135</integer>
			<key>blue</key>
			<integer>39</integer>
		</dict>
		<key>interactions</key>
		<array>
			<string>tv</string>
			<string>play</string>
			<string>book</string>
			<string>computer</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>I need help</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>251</integer>
			<key>green</key>
			<integer>0</integer>
			<key>blue</key>
			<integer>6</integer>
		</dict>
		<key>interactions</key>
		<array>
			<string>headache</string>
			<string>stomach</string>
			<string>cut</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Food</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>18</integer>
			<key>green</key>
			<integer>136</integer>
			<key>blue</key>
			<integer>67</integer>
		</dict>
		<key>interactions</key>
		<array>
			<string>breakfast</string>
			<string>lunch</string>
			<string>dinner</string>
			<string>dessert</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Drink</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>42</integer>
			<key>green</key>
			<integer>130</integer>
			<key>blue</key>
			<integer>255</integer>
		</dict>
		<key>interactions</key>
		<array>
			<string>milk</string>
			<string>water</string>
			<string>juice</string>
			<string>soda</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Snacks</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<integer>88</integer>
			<key>green</key>
			<integer>197</integer>
			<key>blue</key>
			<integer>84</integer>
		</dict>
		<key>interactions</key>
		<array>
			<string>chips</string>
			<string>cookie</string>
			<string>pretzel</string>
			<string>fruit</string>
		</array>
	</dict>
</array>
</plist>
